{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <script type="text/javascript" src="{% static "countdown.js" %}"></script>
    <script type="text/javascript" src="{% static "title.js" %}"></script>
    <link rel="stylesheet" href="{% static "fixpos.css" %}" />
    <link rel="stylesheet" href="{% static "base.css" %}" />

    {% block cssjs %}{% endblock %}         
    <title>{% block title %}LOL{% endblock %}</title>
    </head>
    <body>
      <header>
        <div id='cssmenu'>
          <ul>
            <li class='active'><a href='/'>Inicio</a></li>
              {% if user.is_staff %}
                <li class='has-sub '><a href="">Admin</a>
                  <ul>
                    <li><a href='/admin'>Super Admin Mode</a></li>
                    <li><a href="{% url 'competition:create' %}">Crear Horari</a></li>
                    <li><a href="">Jornades</a>
                      <ul>
                        <li><a href="/jornades">Proximes Jornades</a></li>
                        <li><a href='/jornadesC'>Jornades Comensades</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="/reclamations">Reclamacions</a></li>
              {% elif user.username %}
                <li><a href='/jugadors'>Jugadors</a></li>
                <li><a href="/sendreclamation">Enviar Reclamació</a></li>
              {% endif %}
              {% if user.username %}            
              <li class='has-sub '><a href=''>Account</a>
                <ul>                    
                  <li><a href='/privado'>Panel Privado</a></li>
                  <li><a href='/cerrar'>Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href='/login'>Login</a></li>
              <li><a href='/teamregister'>Registrar equip</a></li>
            {% endif %}
             <li class='has-sub '><a href='#'>Products</a>
                <ul>
                   <li class='has-sub '><a href='#'>Product 1</a>
                      <ul>
                         <li><a href='#'>Sub Item</a></li>
                         <li><a href='#'>Sub Item</a></li>
                      </ul>
                   </li>
                   <li class='has-sub '><a href='#'>Product 2</a>
                      <ul>
                         <li><a href='#'>Sub Item</a></li>
                         <li><a href='#'>Sub Item</a></li>
                      </ul>
                   </li>
                </ul>
             </li>
             <li><a href='#'>About</a></li>
             <li><a href='#'>Contact</a></li>
          </ul>
        </div> 
        {% block header %}
        {% endblock %} 
        <nav>
        <ul id='menu'>
            <!--<li><a href='/register'>Registro</a></li>-->
            <li><a href='/'>Inicio</a></li>
            {% if user.is_staff %}
            <li><a href='/admin'>Super Admin Mode</a></li>
            <li><a href='/privado'>Panel Privado</a></li>
            <li><a href='/cerrar'>Logout</a></li>
            {% elif user.username %}
            <li><a href='/privado'>Panel Privado</a></li>          
            <li><a href='/cerrar'>Logout</a></li>
            {% else %}
            <li><a href='/teamregister'>Registrar equip</a></li>
            <li><a href='/login'>Login</a></li>
            {% endif %}            

        </ul>
            </nav>
            <hr>
            
    </header>
	{% block Tempo %}
        <p class="pos_fixed">Temps per a la competició:</p>
        <div class="pos_fixed" id="countbox1"></div>
  {% endblock %}
  <h3>Titol Animat</h3>
  <div id="content">
            {% block content %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% endblock %}
  </div>

        <div id="footer">
            {% block footer %}{% endblock %}
        </div>

    </body>
</html>
