{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "title.js" %}"></script>
    <script type="text/javascript" src="{% static "countdown.js" %}"></script>    
    <link rel="stylesheet" href="{% static "fixpos.css" %}" />
    <link rel="stylesheet" href="{% static "base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "messages.css"%}"/>
    <link rel="stylesheet" href="{% static "contenido.css" %}" />
    <link rel="stylesheet" href="{% static "toTop.css" %}" />
    <script type="text/javascript" src="{% static "totop.js" %}"></script>
   
    {% block cssjs %}{% endblock %}         
    <title>{% block title %}LOL{% endblock %}</title>
    </head>
    <body>
      <header>
        <div id='cssmenu'>
          <ul>
            <li class='active'><a href='/'>Inicio</a></li>
              {% if user.is_staff %}
                <li class='has-sub'><a href="">Admin</a>
                  <ul>
                    <li><a href='/admin'>Super Admin Mode</a></li>
                    <li><a href="{% url 'competition:create' %}">Crear Horari</a></li>                    
                  </ul>
                </li>
                <li><a href="/reclamations">Reclamacions</a></li>
                <li class='has-sub'><a href="/noticies">Noticies</a>
                  <ul>
                    <li><a href="/noticies/crear">Crear Noticia</a></li>
                  </ul>
                </li>
                <li class='has-sub'><a href="">Competicio</a>
                <ul>
                    <li><a href ='/recount'>Recompte Equips</a></li>
                    <li><a href='/calendar'>Calendari</a></li>
                    <li class="has-sub"><a href="/menuJornades">Jornades</a>
                      <ul>
                        <li><a href="/jornades">Proximes Jornades</a></li>
                        <li><a href='/jornadesC'>Jornades Comensades</a></li>
                      </ul>
                    </li> 
                    <li><a href="/classificacio">Classificacio</a></li>
                    <li><a href='/status'>Server status</a></li>
                </ul>
                </li>
               {% elif user.username %}
                <li><a href='/jugadors'>Jugadors</a></li>
                <li><a href="/sendreclamation">Enviar Reclamació</a></li>
                <li><a href="/noticies">Noticies</a></li>
                <li class='has-sub'><a href="">Competicio</a>
                <ul>
                    <li><a href ='/recount'>Recompte Equips</a></li>
                    <li><a href='/calendar'>Calendari</a></li>
                    <li><a href="/classificacio">Classificacio</a></li>
                    <li><a href='/status'>Server status</a></li>
                </ul>
                </li>
              {% endif %}
              {% if user.username %}
              <li><a href="/top25">Top25</a></li>
              <li class='has-sub'><a href="">Account</a>
              <ul>                    
                  <li><a href='/privado'>Panel Privado</a></li>
                  <li><a href='/cerrar'>Logout</a></li>
              </ul>
              </li>
              {% else %}
              <li><a href="/noticies">Noticies</a></li>
              
              <li class='has-sub'><a href="">Competicio</a>
                <ul>
                    <li><a href ='/recount'>Recompte Equips</a></li>
                    <li><a href='/calendar'>Calendari</a></li>
                    <li><a href="/classificacio">Classificacio</a></li>
                </ul>
                </li>
              <li><a href='/login'>Login</a></li>
              <li><a href='/teamregister'>Registrar equip</a></li>
            {% endif %}
          </ul>
        </div> 
        {% block header %}
        {% endblock %} 
              
            
    </header>
    <hr>
    <span class="ir-arriba"></span>
    <h3 align="center">Titulo con efecto o animación ejemplo 1</h3>
	{% block Tempo %}
        <p class="pos_fixed">Temps per a la competició:</p>
        <div class="pos_fixed" id="countbox1"></div>
  {% endblock %}
  {% if not user.username%}
<p class="warning">No has iniciat sessio, pots iniciar-ne una <a href="/login">aqui</a> o registrar-te <a href="/teamregister">aqui.</a></p>
{% endif %}
  
  <div id="content">  
            {% block content %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% endblock %}
  </div>



        <div id="footer">             
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
