{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static "style/base.css" %}" />
        <title>{% block title %}LOL{% endblock %}</title>
    </head>

    <body>
    <header>
        {% block header %}{% endblock %}
        <nav>
        <ul id='menu'>
            <!--<li><a href='/register'>Registro</a></li>-->
            <li><a href='/'>Inicio</a></li>
            {% if user.is_staff %}
            <li><a href='/admin'>Super Admin Mode</a></li>
            <li><a href='/privado'>Panel Privado</a></li>
            <li><a href='/cerrar'>Logout</a></li>
            {% elif user.username %}
            <li><a href='/privado'>Panel Privado</a></li>          
            <li><a href='/cerrar'>Logout</a></li>
            {% else %}
            <li><a href='/teamregister'>Registrar equip</a></li>
            <li><a href='/login'>Login</a></li>
            {% endif %}            

        </ul>
            </nav>
            <hr>
            
    </header>    
        

        <div id="content">
            {% block content %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}{% endblock %}
        </div>

    </body>
</html>