{% extends "competition/base.html" %}
{% load staticfiles %}
{% block cssjs %}<script type="text/javascript" src="{% static "generator.js" %}"></script> 
{% endblock %}

{% block header %}Crear un nou horari{% endblock %}
{% block content %}
<h1>Generar Horaris</h1>
{% if avis %}
<p id="avis" class="warning">Es borraran les lligues generades.</p>
{% endif %}
<div align="center" id="show">
<p class="info" align="left">Per crear un nou calendari apreta el boto.</p>
<button>Generate</button>
</div>
<p id="wait" hidden class="warning" align="left"> Espereu un moment siusplau.</p>
<div id="progress" hidden align="center">
<progress></progress>
</div>
<p  id="created" class="success" hidden> El calendari ha esta creat correctament.</p>


{% endblock %}