{% extends "competition/base.html" %}
{% block header %}Detall jornada nº{{jornada.codi}}{% endblock %}
{% block content %}
<h1>{{jornada}}</h1>
<h2>Partides:</h2>
<ul>
	{% for partida in jornada.partida_set.all %}
			{% if partida.equips.all.count == 1 %}
				<li>El {{partida.equips.all.0}} descansa aquesta jornada.</li><br>
				{% else %}
				<form action="{% url 'competition:finish_match' partida.id %}">
				<li>{{partida}}{% if partida.iniciada %}<input type="submit" name="list" value="Finish" />
				{% endif %}</li></form>	
				<ul>
				<li>{{partida.equips.all.0 }}  VS. {{ partida.equips.all.1}}{% if not partida.equips.all.0.isReady and not partida.equips.all.1.isReady and not partida.acabada %}<script type="text/javascript" > var a = true </script> Els equips encara no estan preparats. {% endif %}</li>
				</ul>
			{% endif %}				
	{% endfor %}
</ul>
{% if not jornada.iniciada and not jornada.acabada and jornada.isReady %}

<form action="{% url 'competition:start_journey' jornada.id %}">
<input type="submit" name="list" value="Start" />
</form>
{% elif jornada.iniciada and jornada.partidesAcabades %}
<form action="{% url 'competition:finish_journey' jornada.id %}">
<input type="submit" name="list" value="Finish" />
</form>
{% endif %}
{% endblock %}
