{% extends "competition/base.html" %}
{% block header %}Jugadors{% endblock %}
{% block content %}
<h1>
	Jugadors </h1>
<ul>
	{% for item in llista %}
	<li>Jugador: {{item}} Rol: {{ item.rol }}</li></p>
	{% empty %} No tens cap jugador inscrit. Si ets Admin desdel recompte podras veure els jugadors de cada equip.
	{% endfor %}
	{% if not user.is_staff %}
		{% if llista.0.team.isTeamValid %}
		<p> L'equip esta validat. </p>
		{% else %}
		<p> L'equip no esta validat pots editar els jugadors per corregir-ho.</p>
		{% endif %}
		<form action='/edit'>		
		<br><p><input type="submit" value="Editar jugadors" /></p>
		</form>
	{% endif %}
	
</ul>
{% endblock %}
