{% extends "competition/base.html" %}
{% block header %}Noticies{% endblock %}
{% block content %}  
<h1>
	Ultimes Noticies
</h1>
<ul>
	{% for noticia in llista %}
	<li><a href="{% url 'competition:noticia_detail' noticia.id %}">{{noticia}}</a>
    <ul><li><p class="contenido">{{noticia.cosNoticia}}</p></li></ul></li>
	
    {% empty %}</ul><p class="info">Encara no hi ha noticies publicades.</p><ul>
	{% endfor%}
</ul>
{% if user.is_staff %}
<form action='/noticies/crear'>		
	<p><input type="submit" value="Nova Noticia" /></p>
</form>
{% endif %}


{% endblock %}