{% extends "competition/base.html" %}
{% block header %}Noticies{% endblock %}
{% block content %}
    <style>
        .contenido {

            width:400px;

            overflow:hidden; /* Escondemos la parte sobrante */

            white-space:nowrap; /* Indicamos que no realice salto de linea si no cabe en la anchura indicada */

            text-overflow: ellipsis; /* Ponemos los dos puntos */

        }

    </style>
<h1>
	Ultimes Noticies
</h1>

<ul>
	{% for noticia in llista %}
	<li><a href="{% url 'competition:noticia_detail' noticia.id %}">{{noticia}}</a><br></li>
	<p class="contenido">{{noticia.cosNoticia}}</p><br>
	{% endfor%}
</ul>

<form action='/noticies/crear'>		
	<br><p><input type="submit" value="Nova Noticia" /></p>
</form>


{% endblock %}