{% extends 'competition/base.html' %}
{% block header %}Bienvenido,{% endblock %}
{% block content %}
	<h1>Bienvenido</h1>
	<p>Bienvenido {{usuario.username|upper}}, la ultima vez que te vimos fue el {{usuario.last_login}}.</p>
	<p>Eres miembro desde el {{usuario.date_joined}}</p>
	{% if not user.is_staff %}
		{% if not equip.isTeamValid %}
			<p class="error">L'equip encara esta pendent de validar-se<p>
		{% else %}
			<p class="success">L'equip esta validat per tant podra jugar a la competició</p><br>
			{% if wait %}
			<p class="info">L'equip descansa aquesta jornada</p>
			{% elif noMatch %}
			<p class="warning">L'equip no esta al horari espera que s'en generi un altre</p>
			{% else %}
			{% if not equip.isReady %}
			<form action="{% url 'competition:team_ready' equip.id %}" >		
				<br><p><input type="submit" value="Ready" /></p>

			</form>
			<a href="{% url 'competition:team_ready' equip.id %}" class="ready">Ready</a>
			{% elif equip.isReady %}
				{% if ip %}
				
					<p class="ip" >IP assignada per la proxima partida:{{ip}}</p>			
				
			
				{% else %}
				Encara no tens ip assignada recarga en uns moments per comprovar si ja esta asignada.<br><br>
				<form action='/privado'>		
					<br><p><input type="submit" value="Reload" /></p>
				</form>
				{%endif%}
			{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}	
{% endblock %}
