{% extends "competition/base.html" %}
{% load staticfiles %}
{% block header %}Server Status{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "servers.css" %}" />
<h1> Servers </h1>
{% if err %}
	Sorry something was wrong.
	{% if err.code %}
	 The error code is: {{err.code}}
	{% elif err.reason %}
	 The reason is: {{err.reason}}<br>
	{% endif %}
	{% if user.is_staff %}
		{{ err }}
	{% endif %}
{% endif %}
{% for key, value in status.items %}
	{% if value == stats.0 %}
		&nbsp;<span class="green">&nbsp;</span>
	{% elif value == stats.1 %}
		&nbsp;<span class="yellow">&nbsp;</span>
	{% elif value == stats.2 %}
		&nbsp;<span class="red">&nbsp;</span>
	{% else %}
		&nbsp;<span class="orange">&nbsp;</span>
	{% endif %}
	<b>Region:</b> {{key}} &nbsp;<b>Status:</b> {{value}}&nbsp;<br><br>
	
{% endfor %}


<form action='/status'>		
	<br><p><input type="submit" value="Reload" /></p>
</form>

{% endblock %}