{% extends "competition/base.html" %}
{% load staticfiles %}
{% block header %}Server Status{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "servers.css" %}" />
<h1> Servers </h1>
{% if err %}

	<p class="error"> Sorry something was wrong.<br>
	{% if err.code %}
	 The error code is: {{err.code}}<br>
	{% elif err.reason %}
	 The error reason is: {{err.reason}}<br>
	{% endif %}
	{% if user.is_staff %}
	{{ err }}
	{% endif %}
	</p>
{% endif %}
<table align="center" border=”0″ cellpadding=”0″ cellspacing=”0″>
<tr>
<th></th>
<th>Region:</th>
<th>Status:</th>
</tr>
{% for key, value in status.items %}
	<tr>
	{% if value == stats.0 %}
		<th>&nbsp;<span class="green">&nbsp;</span></th>
	{% elif value == stats.1 %}
		<th>&nbsp;<span class="yellow">&nbsp;</span></th>
	{% elif value == stats.2 %}
		<th>&nbsp;<span class="red">&nbsp;</span></th>
	{% else %}
		<th>&nbsp;<span class="orange">&nbsp;</span></th>
	{% endif %}
	<th>{{key}}</th>
	<th>{{value}}</th>
	</tr>	
{% endfor %}
</th>

</table>



<form action='/status'>		
	<br><p><input type="submit" value="Reload" /></p>
</form>

{% endblock %}