{% extends "competition/base.html" %}
{% block header %}Info Equip{% endblock %}
{% block content %}
<h1>
	{{ equip }}
</h1>
<h2>Jugadors:</h2>
<ul>
	{% for item in equip.jugador_set.all %}
	<li> {{item}} </li>
	{% endfor %}
</ul>
</br>
</br>
<form action="{% url 'competition:validate_team' equip.id %}">
{% if equip.isTeamValid %}
<p class="success">L'equip esta validat!</p>
<input type="submit" name="list" value="Desvalidate" />
{% else %}
<p class="info">L'equip encara esta pendent d'activar.</p>
<p><input type="submit" name="list" value="Validate" /></p>
{% endif %}
</form>

{% endblock %}
